
/* 

Link for css basic style
https://github.com/thomaspark/bootswatch/blob/v3.3.5/cosmo/bootstrap.css#L4643-L4744 

*/

.section.sidebar {
  background-color:#f0f0f0;
  font-size: 12px;
  border-style:none;
}

.navbar {
  background-color:white;
  border-color:#f0f0f0;
  font-family: Arial;
  font-size:14px;
  color:#3c6788;
}

.navbar-brand {
  font-family: Arial;
  font-size:19px;
  font-weight: bold;
  color:#3c6788!important;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #3c6788;
  background-color: none;
}
.navbar-inverse .navbar-text {
  color: #3c6788;
}
.navbar-inverse .navbar-nav > li > a {
  color: #3c6788;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #6fcaed;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #6fcaed;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #3c6788;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #1967be;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #3c6788;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #1a6ecc;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #1967be;
  color: #3c6788;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #1967be;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #1967be;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #3c6788;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #3c6788;
    background-color: #1967be;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #3c6788;
    background-color: #1967be;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #3c6788;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #3c6788;
}
.navbar-inverse .navbar-link:hover {
  color: #3c6788;
}
.navbar-inverse .btn-link {
  color: #3c6788;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #3c6788;
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #3c6788;
}